# cours
01-syntaxe/05-fonctions/coursnw
01-syntaxe/05-fonctions/exo/prep
02-dom/nw
03-date-delai-interval/nw
04-apiform/cours/*
04-apiform/nw
05-regex/nw
06-storage/nw
07-json/nw
08-fetch/nw

#tp
tp/01-juste-prix/assets
tp/01-juste-prix/index.html
tp/02-pendu
tp/03-todolist
tp/04-fetch
